.main {
    background-color: rgba(243, 240, 240, 0.884);
    border: 10px solid white;
    border-bottom: 0px;
    padding: 20px;
  }
  
  .main__importantHeader {
    color: rgb(78, 78, 78);
    text-shadow: 4px 3px 5px 0px lightslategray;
  }
  
  .main__myImage {
    max-width: 20%;
    float: left;
    margin-right: 20px;
    margin-bottom: 8px;
    border: 1px solid rgba(211, 211, 211, 0.459);
    box-shadow: 10px 10px 5px 0px lightgray;
  }
  
  .main__biggerHeader {
    color: rgb(102, 88, 88);
  }
  
  .main__smallerHeader {
    color: rgb(112, 79, 79);
  }
  
  .main__smallerHeader--highlighted {
    color: rgb(109, 20, 20);
  }
  
  .main__tableContainer {
    overflow-x: auto;
  }
  
  .main__table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .main__tableCaption {
    background-color: darkgrey;
    border: 1px solid white;
    font-weight: 800;
    font-size: 20px;
    padding: 5px;
  }
  
  .main__headerCell {
    background-color: grey;
    font-weight: 400;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    caption-side: bottom;
  }
  
  .main__cell {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    caption-side: bottom;
  }
  
  .main__tableRow:nth-child(even) {
    background-color: rgb(223, 222, 222);
  }
  
  .main__important {
    color: crimson;
  }
  
  .main__tableRow:hover {
    background-color: rgba(181, 238, 181, 0.747);
  }
  
  .main__specialLink:visited {
    color: violet;
  }
  
  .main__specialLink:hover {
    color: lightseagreen;
  }
  
  .main__specialLink:focus {
    color: lightskyblue;
    text-decoration: none;
  }
  
  .main__specialLink:active {
    color: lightcoral;
  }
  
  .main__gallery {
    text-align: center;
  }
  
  .main__galleryImage {
    max-width: 300px;
    max-height: 100px;
    border: 10px solid white;
    box-shadow: 5px 10px 5px 0px rgba(211, 211, 211, 0.74);
    margin: 10px;
  }
  
  .main__titleButton {
    background-color: grey;
    color: white;
    border: 2px solid white;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 10px 5px 5px 0px rgba(128, 128, 128, 0.801);
    outline: none;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    min-width: 50%;
    min-height: 50px;
    padding: 1%;
    margin: -20px;
  }
  
  .main__titleButton:hover {
    background-color: lightgoldenrodyellow;
    color: black;
    outline: none;
    text-align: right;
  }
  
  .main__titleButton:focus {
    background-color: rgba(181, 238, 181, 0.747);
    color: black;
    outline: none;
    text-align: left;
  }